/*CSS BY Robynne Asato*/

/*IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
h1, h2 {
    font-family: Kavoon, sans-serif;
}

p {
    font-family: inter, sans-serif;
}

h1 {
    font-size: 3em;
}

nav h2 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.15em;
}

/*CSS REST*/
body {
    max-width: 450px;
    background-color: var(--purple);
}

div {
    background-color: var(--white);
    display: block;
    border-radius: 10px;
    margin: 1em;
    padding: 20px;
}

nav {
    background-color: var(--yellow);
    padding-bottom: 1em;
}

nav ul {
    list-style-type: none;
    text-align: center;
    font-weight: bold;
}

nav li {
    text-transform: uppercase;
    display: block;
    margin-right: 25px;
    margin-left: 0;
    margin-bottom: 10px;
    background-color: var(--white);
    padding: 1em;
}

nav li a {
    text-decoration: none;
}

nav h3 {
    text-align: center;
    color: var(--dark-gray);
    font-style: italic;
    text-transform: uppercase;
    padding-top: 1em;
}

h1 {
    text-align: center;
    margin: 0;
    padding-top: 1em;
}
#title p {
    padding-bottom: 1em;
}

h1, h2 {
    color: var(--white);
}

h1+p {
    color: var(--white);
    text-align: center;
}

h3 {
    color: var(--yellow);
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

h4 {
    color: var(--purple);
}
#why {
    background-color: var(--pink);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr;
    grid-template-areas: "choose choose"
                        "personalized proven"
                        "environment flexible";
}
#why h2 {
    grid-area: choose;
}

#why p {
    height: 5em;
    width: 10em;
    font-weight: bold;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em;
}

.personalized {
    grid-area: personalized;
    background-color: var(--teal);
    border: 1px var(--teal);
    border-radius: 10px;
}

.proven {
    grid-area: proven;
    background-color: var(--lavender);
    border: 1px var(--lavender);
    border-radius: 10px;
}

.environment {
    grid-area: environment;
    background-color: var(--yellow);
    border: 1px var(--yellow);
    border-radius: 10px;
}

.flexible {
    grid-area: flexible;
    background-color: var(--white);
    border: 1px var(--white);
    border-radius: 10px;
}

table {
    background-color: var(--yellow);
    margin: 10px auto;
    width: 15em;
}

td {
    background-color: var(--white);
}
td, th {
    padding: 15px;
}

#steps {
    background-color: var(--pink);
}

#steps h2 {
    padding-top: 0.5em;
}

#steps p {
    color: var(--white);
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5em;
}

#steps button {
    background-color: var(--white);
    text-decoration: none;
    color: var(--dark-gray);
    border: var(--white) solid 1px;
    border-radius: 15px;
    font-weight: bold;
    width: 375px;
    height: 60px;
    margin-left: 2em;
    margin-bottom: 10px;
    font-size: 1em;
    text-transform: uppercase;
    box-shadow: 4px 4px 8px var(--dark-gray);
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--white);
    margin-left: 3em;
    padding: 2em;
    font-size: 15px;
}

footer a {
    color: var(--white);
}

/*ROOT VARIABLES*/
:root {
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;
}
/*GLOBAL STYLES (mobile first/small)*/
@media (min-width: 450px) {
    html {
        background-color: var(--lavender);
    }

    body {
        margin: 0 auto;
    }
}